%form{ action: build_path(build), method: :post }
  %p.submit
    %button{ type: :submit, title: "Rebuild this commit" }<
      Rebuild

%h1#build_status
  = build.human_status_with_time

%blockquote
  %p
    #{h(build.full_message).gsub("\n", '<br />')}
  %p.meta<
    %span.who<
      &== by: #{build.author}
    |
    %span.when{ title: build.committed_at }<
      &= pretty_date build.committed_at
    - if build.project.github?
      |
      %span.github<
        %a{ href: github_commit_url(build) } view on GitHub

- if build.building? || build.completed?
  - if ! build.project.artifacts_empty? && !(files = artifact_files(build)).empty?
    %h2
      Artifacts
      %blockquote
        %ul#artifacts
          - files.each do |file|
            %a{ title: file[:relative_path],
                href: file[:url] } #{file[:name]}
            %br/

- if build.completed? || build.building?
  %h2.output
    Build Output
    %a{ href: '#', id: :show_output } (hide)
    %a{ href: build_path(build, :raw) } (raw)


  %pre.output
    :preserve
      #{bash_color_codes h(build.output)}
